:root{
  --swiper-navigation-size: 50px !important;
  --swiper-theme-color: var(--purple) !important;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbots-index-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  top: 12vh;
  max-width: 1200px;
  /* width: 600px; */
}
  
.chatbots-index-details{
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 0 1 125px;
  height: 200px;
  justify-content: space-evenly;
  margin-bottom: .5rem;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.217);
  border-radius: 5px;
  margin: .5rem;
  position: relative;
}
  
  
.chatbots-index-details img{
  height: 135px;
  width: 100%;
  object-fit: cover;
  object-position: 50% 0%;
}

.chatbots-index-details > li{
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
  white-space: pre;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 14%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  padding: 5px;
  /* z-index: 5; */
}

#chat-button{
  background-color: var(--purple);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  width: 100%;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
  font-size: 1rem;
}

#chat-button:hover{
  box-shadow: 0px 0px 2px rgba(12,1,1,0.6);
}

#chat-button:active{
  box-shadow: inset 0px 0px 8px rgba(12,1,1,0.5);
}

#resume-button{
  background-color: transparent;
  color: var(--purple);
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  width: 100%;
  align-self: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid var(--purple);
  transition: all 750ms;
  transition-timing-function: ease-in;
  text-align: center;
}

#resume-button:hover{
  box-shadow: 0px 0px 2px rgba(12,1,1,0.6);
  transition: all 1s;
  background-color: var(--purple);
  color: white;
}

#resume-button:active{
  box-shadow: inset 0px 0px 8px rgba(12,1,1,0.5);
}

#create-button{
    border: 5px solid var(--purple);
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-self: center;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  /* background-color: aqua; */
}

#create-button > div{
  color: var(--purple);
  font-size: 2rem;
  transition: all 1s;

  /* background-color: aqua; */
}

#create-button:hover{
  transition: all 1s;
  background-color: var(--purple);
  }


#create-button:hover > div{
  transition: all 1s;

  color: white;
}

.chatbots-index-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 
  /* width: 600px; */
}

.chatbots-index-details{
  padding: 5px;
}


.chatbots-index-details img{
  /* height: 100px; */
  /* width: 50px; */
}

.swiper {
  position: relative;
  top: 10vh;
  width: 100vw;
  padding-right: 100px;
}

div.swiper-button-prev{
 color: var(--purple);
 /* background-color:  rgba(160, 155, 155, 0.8);
 border-radius: 50%; */
 /* width: 50px;
 height: 50px; */
 font-weight: 900;
}
/* div.swiper-button-prev::after{
  content: none;
  background-image: url('../arrow.jpg');
} */

div.swiper-button-next {
  color: var(--purple);
  font-weight: 900;
  /* right: -10px; */
  /* z-index: 900; */
}
div.swiper-wraper{
  padding-left: 30px;
}


/* div.swiper-slide{
  width: ;
} */