:root{
  --purple: #541ffb;
  --black: rgb(49, 49, 49);
  
}


.links-auth, .links-nav{
  display: flex; 
  width: 250px;
  justify-content: space-around;
  align-items: center;
  padding-left: 20px;
}

.profile-pic{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.logo{
  height: 50px;
  width: 50px;
}

.navbar h1 {
 font-family: Arial, Helvetica, sans-serif;
 color: var(--purple);
 font-size: 1.25rem;
 font-weight: 900;
}

.nav-left{
  width: 50%;
  display: flex;
  align-items: center;
}

.nav-right{
  width: 50%;
  display: flex;
  justify-content:flex-end ;

}

.links-auth{
  font-family: Arial, Helvetica, sans-serif;
  font-size: .75rem;
  color: var(--black);
 

}

.links-auth > a{
  transition: all 750ms;
  transition-timing-function: ease-out;
}

.links-auth > a:hover{
  color: var(--purple);
  transform: translateY(-2px);
  
}

footer{
  margin: none;
}