.battle-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 17vh;
}

.battle-bot-message{
  img{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
}