.chatbot-show-container{
  display: flex;
  justify-content: center;
  position: relative;
  top: 17vh;
}

.chatbot-show-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  li{
    font-size: 30px;
  }
}
.chatbot-show-img{
  border-radius: 5%;
  object-fit: cover;
  height: 200px;
  width: 200px;

}
.chatbot-show-box{
  // width: 400px;
  width: 50vw;
  overflow-y: scroll;
  font-size: 18px;
  height: 70vh;
  ul{
    line-height: 150%;
    // height: 100px;
  }
  ul div{
    // padding-bottom: 20px;
    padding-left: 55px;
    padding-right: 15px;
  }
  
}

.typing{
  // width: 125px;
  // height: 75px;
  width: 100px;
  // object-fit: cover
}

.show-chat-form{
  margin-top: 20px;
  margin-left: 10px;
  input[type=text]{
    width: 75%;
    margin-right: 5px;
  }
}

.chatbot-show-details{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.show-chat-right-panel{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vw;
  height: 75vh;
  button{
    width: 50%;
  }
  .prompt-suggestions{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;
    // li{
    //   margin: 10px;
    // }
    li:hover{
      cursor: pointer;
      // margin-right: 10px;
    }
    li{
      margin: 5px;
      width: 75%;
    }
  }
  *{
    margin-top: 5px;
    margin-bottom: 5px;

  }
}

.chatbot-show-img-small{
  border-radius: 50%;
  object-fit: cover;
  height: 50px;
  width: 50px;
}

.chatbot-show-message-detail{
  display: flex;
  align-items: center;
  h1{
    position: relative;
    top: 15px;
    left: -125px;
    font-weight: 600;
  }
  img{
    margin-right: 20px;
    position: relative;
    top: 30px;
    left: -110px;
  }
}