.chatbots-index-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* width: 600px; */
}

.chatbots-index-details{
  padding: 5px;
}


.chatbots-index-details img{
  height: 100px;
  /* width: 50px; */
}