
.profile-bots-container{
  display: flex;
}

.profile-bots{
  display: flex;
  flex-wrap: wrap;
  
}

.profile-bot{
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.profile-bots img{
  height: 300px;
}